{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Galeria | {% endblock %}

{% block content %}
    {% if images_list %}
        <div class="row content">
            <div style="width:100%">
                <h1 style="text-align: center; margin-bottom:10px;">Galeria</h1>
            </div>
            <div class="row-gallery">
                {% for img in images_list %}
                    <div class="column-gallery">
                        <img class="gallery-img" src="{{ img.img_src.url }}" />
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="modal-img">
        </div>
    {% else %}
        <div class="row content">
            <div style="width:100%">
                <h1 style="text-align: center; margin-bottom:10px;">Galeria</h1>
            </div>
            <div style="width:100%">
                <p align="center">Aktualnie nie ma zdjęć w galerii.</p>
            </div>
        </div>
    {% endif %}

<script>
    var modal = document.getElementById('myModal');

    var modalImg = document.getElementById("modal-img");
    $('.gallery-img').each.onclick =function(){
        modal.style.display = "block";
        modalImg.src = this.src;
    };

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
        modal.style.display = "none";
    }
</script>
{% endblock %}