{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Oferowane rośliny | {% endblock %}

{% block content %}
    {% if balkonowe %}
<div class="row content">
    <div style="width:100%">
        <h1 style="text-align: center; margin-bottom:10px;">Rośliny w ofercie:</h1>
    </div>
    <div class="row-flexing">
        <div class="column">
            <h3>Kwiaty balkonowe:</h3>
            <ul>
                {% for bal in balkonowe %}
                    <li>{{ bal.plant_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="column">
            <h3>Kwiaty rabatowe:</h3>
            <ul>
                {% for rab in rabatowe %}
                    <li>{{ rab.plant_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="column">
            <h3>Chryzantemy doniczkowe:</h3>
            <ul>
                {% for chr in chryzantemy %}
                    <li>{{ chr.plant_name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="column">
            <h3>Byliny i trawy:</h3>
            <ul>
                {% for byl in byliny %}
                    <li>{{ byl.plant_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
    {% else %}
<div class="row content">
    <div style="width:100%">
        <h1 style="text-align: center; margin-bottom:10px;">Rośliny w ofercie:</h1>
    </div>
    <div style="width:100%">
        <h3>Aktualnie nie posiadamy roślin w ofercie.</h3>
    </div>
</div>
    {% endif %}
{% endblock %}