{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Oferowane rośliny | {% endblock %}

{% block content %}
    {% if plants_list %}
<div class="row content">
    <div style="width:100%">
        <h1 style="text-align: center; margin-bottom:10px;">Rośliny w ofercie:</h1>
    </div>
    {% for cat in categories %}
        <div style="width:100%">
            <h2>{{ cat.category_name }}</h2>
            {% for plant in plants[cat.category_name] %}
                <h4>{{ plant.plant_name }}</h4>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
    {% else %}
      <p>There are no plants in the database.</p>
    {% endif %}
{% endblock %}